<h1>Sign IN</h1>

<form action="/users/create-session" method="post">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="text" name="email" placeholder="Your Email" required>
    <input type="submit" value="Sign In">



</form>